---
import Layout from '../layouts/Layout.astro';

import Mangas from '../components/mangas.astro';
---

<Layout title='Proyects'>
  <div class="relative z-20 w-full flex justify-center min-h-60 py-10 bg-slate-400">
    <div
      class="bg-gray-800/10 backdrop-blur rounded-xl w-11/12 flex flex-col justify-center items-center"
    >
      <div class="bg-gray-900/10 p-4 rounded-t-xl shadow-xl w-full">
        <div>
          <label class="sr-only text-3xl" for="464">Buscar</label>
          <div
            class="relative w-full text-slate-400 !focus-within:text-slate-50 transition-color rounded-xl bg-gray-700 border border-gray-600 sf-ripple-container"
          >
            <input
              id="1332"
              placeholder="Buscar"
              type="search"
              class="text-sm rounded-xl block w-full pl-12 p-2.5 h-full bg-transparent outline-none"
            />
            <div class="max-h-0 transition-max-height bg-gray-800/25"></div>
            <div
              class="absolute inset-y-1/4 left-0 flex pl-3 pb-4 pointer-events-none text-2xl"
            >
              <i class="i-heroicons-magnifying-glass"  ></i>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-800/80 h-100 w-11/12 p-2 rounded-xl my-5">
          <div class="flex flex-col gap-4"  >
            <a
              href="/series/comic-perro-en-rabia-53065062"
              class="flex items-center gap-4 p-2 rounded-md hover:bg-gray-900/50 transition-background-color"
               
            >
              <div>
                <div class="relative w-10 aspect-square rounded-md">
                  <img
                    src="https://dashboard.visorolym.com/storage/comics/covers/1187/_BD_C3_B8_AE_C1_EE__C7_A5_C1_F6_690x1000-sm.webp"
                    alt="Instinto de regresión del sabueso"
                    loading="lazy"
                    class="object-cover rounded-inherit w-full h-full"
                  />
                </div>
              </div>
              <div>
                <div class="text-sm line-clamp-1">
                  Instinto de regresión del sabueso
                </div>
                <div
                  class="text-xs inline-block px-2 py-0.5 rounded-md capitalize tracking-wider font-bold font-header text-sky-300 bg-sky-600/10"
                >
                  comic
                </div>
              </div>
            </a>
            <a
              href="/series/comic-podrido-2023"
              class="flex items-center gap-4 p-2 rounded-md hover:bg-gray-900/50 transition-background-color"
               
            >
              <div>
                <div class="relative w-10 aspect-square rounded-md">
                  <img
                    src="https://dashboard.visorolym.com/storage/comics/covers/884/imagen-xl-sm.webp"
                    alt="El Hijo de la Corrupción"
                    loading="lazy"
                    class="object-cover rounded-inherit w-full h-full"
                  />
                </div>
              </div>
              <div>
                <div class="text-sm line-clamp-1">El Hijo de la Corrupción</div>
                <div
                  class="text-xs inline-block px-2 py-0.5 rounded-md capitalize tracking-wider font-bold font-header text-sky-300 bg-sky-600/10"
                >
                  comic
                </div>
              </div>
            </a>
            <a
              href="/series/comic-mis-novias-son-leyendas"
              class="flex items-center gap-4 p-2 rounded-md hover:bg-gray-900/50 transition-background-color"
               
            >
              <div>
                <div class="relative w-10 aspect-square rounded-md">
                  <img
                    src="https://dashboard.visorolym.com/storage/comics/covers/1220/12561-sm.webp"
                    alt="Mis Novias Son Leyendas"
                    loading="lazy"
                    class="object-cover rounded-inherit w-full h-full"
                  >
                </div>
              </div>
              <div>
                <div class="text-sm line-clamp-1">Mis Novias Son Leyendas</div>
                <div
                  class="text-xs inline-block px-2 py-0.5 rounded-md capitalize tracking-wider font-bold font-header text-sky-300 bg-sky-600/10"
                >
                  comic
                </div>
              </div>
            </a>
            <a
              href="/series/comic-el-asesino-de-la-luna-a-la-deriva5324"
              class="flex items-center gap-4 p-2 rounded-md hover:bg-gray-900/50 transition-background-color"
               
            >
              <div>
                <div class="relative w-10 aspect-square rounded-md">
                  <img
                    src="https://dashboard.visorolym.com/storage/comics/covers/31/19 - lw0VfUZ1nwVIpOqsTmtyTk&amp;filename=th3-sm.webp"
                    alt="El Asesino de la Luna a la Deriva"
                    loading="lazy"
                    class="object-cover rounded-inherit w-full h-full"
                  />
                </div>
              </div>
              <div>
                <div class="text-sm line-clamp-1">
                  El Asesino de la Luna a la Deriva
                </div>
                <div
                  class="text-xs inline-block px-2 py-0.5 rounded-md capitalize tracking-wider font-bold font-header text-sky-300 bg-sky-600/10"
                >
                  comic
                </div>
              </div>
            </a>
            <a
              href="/series/novela-llevo-mil-anos-atrapado-en-el-mismo-dia-novela"
              class="flex items-center gap-4 p-2 rounded-md hover:bg-gray-900/50 transition-background-color"
               
            >
              <div>
                <div class="relative w-10 aspect-square rounded-md">
                  <img
                    src="https://dashboard.visorolym.com/storage/novels/covers/12/Cover-sm.webp"
                    alt="Llevo mil años atrapado en el mismo día (NOVELA)"
                    loading="lazy"
                    class="object-cover rounded-inherit w-full h-full"
                  >
                </div>
              </div>
              <div>
                <div class="text-sm line-clamp-1">
                  Llevo mil años atrapado en el mismo día (NOVELA)
                </div>
                <div
                  class="text-xs inline-block px-2 py-0.5 rounded-md capitalize tracking-wider font-bold font-header text-emerald-300 bg-emerald-600/10"
                >
                  novela
                </div>
              </div>
            </a>
          </div>
        </div>
    </div>
  </div>
    <section class="flex flex-col gap-6   mx-auto relative py-10  bg-gray-800/10 backdrop-blur rounded-xl w-11/12  ">
        <div class="flex  justify-between px-2 text-2xl  md:px-0">
          <div>
            <h2 class="md:text-3xl">Series</h2>
            <small class="text-gray-400 "> Mostrando 888 series de comic. </small>
          </div>
          <div>
            <div class="flex gap-2 md:gap-6">
              <button
                aria-label="archive sorting"
                class="block aspect-square rounded-full p-2 md:p-1 hover:bg-gray-800 transition-background-color sf-ripple-container">
                <i class="text-2xl md:text-3xl i-heroicons-bars-arrow-down"></i>
              </button>
              <button
                aria-label="archive filtering menu"
                class="block aspect-square rounded-full p-2 md:p-1 hover:bg-gray-800 transition-background-color sf-ripple-container">
                <i class="text-2xl md:text-3xl i-heroicons-adjustments-horizontal"></i>
              </button>
            </div>
          </div>
        </div>
        
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-1 md:gap-4 px-1 md:px-0">
          
        <Mangas name="ramona" img="https://dashboard.visorolym.com/storage/comics/covers/290/YAMA%201-xl.webp" >
        </Mangas>
        <Mangas name="ramona" img="https://dashboard.visorolym.com/storage/comics/covers/290/YAMA%201-xl.webp" >
        </Mangas>
        <Mangas name="ramona" img="https://dashboard.visorolym.com/storage/comics/covers/290/YAMA%201-xl.webp" >
        </Mangas>
        <Mangas name="ramona" img="https://dashboard.visorolym.com/storage/comics/covers/290/YAMA%201-xl.webp" >
        </Mangas>
        <Mangas name="ramona" img="https://dashboard.visorolym.com/storage/comics/covers/290/YAMA%201-xl.webp" >
        </Mangas>
        <Mangas name="ramona" img="https://dashboard.visorolym.com/storage/comics/covers/290/YAMA%201-xl.webp" >
        </Mangas>
        <Mangas name="ramona" img="https://dashboard.visorolym.com/storage/comics/covers/290/YAMA%201-xl.webp" >
        </Mangas>
        </div>
    </section>

  
</Layout>   
