---
import Layout from '../layouts/Layout.astro';

import Mangas from '../components/mangas.astro';
---

<Layout title='Proyectos'>
  


    <section class="flex flex-col gap-6   mx-auto relative py-10  bg-gray-800/10 backdrop-blur rounded-xl clamp  ">
        <div class="flex  justify-between px-4 text-2xl md:px-2 ">
          <div>
            <h2 class="md:text-3xl">Series</h2>
            <small class="text-gray-400 "> Mostrando 888 series de comic. </small>
          </div>
          <div>
            <div class="flex gap-2 md:gap-6">
              <button
                aria-label="archive sorting"
                class="block aspect-square rounded-full p-2 md:p-1 hover:bg-gray-800 transition-background-color sf-ripple-container">
                <i class="text-2xl md:text-3xl i-heroicons-bars-arrow-down"></i>
              </button>
              <button
                aria-label="archive filtering menu"
                class="block aspect-square rounded-full p-2 md:p-1 hover:bg-gray-800 transition-background-color sf-ripple-container">
                <i class="text-2xl md:text-3xl i-heroicons-adjustments-horizontal"></i>
              </button>
            </div>
          </div>
        </div>
        
        <div class="gallery px-4 md:px-0">
          
        <Mangas name="ramona" img="https://dashboard.visorolym.com/storage/comics/covers/290/YAMA%201-xl.webp" >
        </Mangas>
        <Mangas name="ramona" img="https://dashboard.visorolym.com/storage/comics/covers/290/YAMA%201-xl.webp" >
        </Mangas>
        <Mangas name="ramona" img="https://dashboard.visorolym.com/storage/comics/covers/290/YAMA%201-xl.webp" >
        </Mangas>
        <Mangas name="ramona" img="https://dashboard.visorolym.com/storage/comics/covers/290/YAMA%201-xl.webp" >
        </Mangas>
        <Mangas name="ramona" img="https://dashboard.visorolym.com/storage/comics/covers/290/YAMA%201-xl.webp" >
        </Mangas>
        <Mangas name="ramona" img="https://dashboard.visorolym.com/storage/comics/covers/290/YAMA%201-xl.webp" >
        </Mangas>
        <Mangas name="ramona" img="https://dashboard.visorolym.com/storage/comics/covers/290/YAMA%201-xl.webp" >
        </Mangas>
        </div>
    </section>

  
</Layout>   

<style>
  .gallery {
  display: grid;
  gap: 1rem;
  grid-auto-rows: minmax(max(10rem,18%),1fr);
  grid-template-columns: repeat(auto-fill, minmax(max(10rem,18%),1fr));
  
  }
</style>