---

const {id, clase } = Astro.props;
---

<div class= `bg-gray-800/10 backdrop-blur rounded-xl  w-11/12 flex flex-col justify-center items-center min-h-8 py-4  ${clase}  ` id={id}>
    <slot />
</div>