---
interface Props {
	icon: string;
	body: string;
	href: string;
}

const { href, icon, body } = Astro.props;
---
	  

	    <li class="rounded-lg opacity-80 w-11/12 flex-center size-full  color5">
		<a href={href} class="flex-center justify-start evenly size-4/5" aria-label="alreay">
		  <h2>
			<span class= ` ${icon}  size-6 bg5" `>f</span>
		  </h2>
		  <p>
			<span>{body}</span>
		  </p>
		</a>
	  </li>
	
	
	  
	
	  
