---
const { name, img } = Astro.props;

const href = "manga";//name.normalize();
---

<figure class="relative overflow-hidden rounded-md">
    <a
      href=  `proyects/${href}`
      class="block rounded-md sf-ripple-container"
      ><div class="relative w-full rounded-md aspect-[2.75/4.75]">
        <img
          src= {img}
          srcset="
            https://dashboard.visorolym.com/storage/comics/covers/1277/1154241-lg.webp  768w,
            https://dashboard.visorolym.com/storage/comics/covers/1277/1154241-xl.webp 1536w
          "
          alt= {name}
          loading="lazy"
          class="object-cover rounded-inherit w-full h-full"
          style="min-height: initial"
        /><!---->
      </div></a
    >
    <div
      class="pointer-events-none absolute -bottom-2 left-0 w-full h-2/4 bg-gradient-to-b from-transparent via-gray-800/70 to-gray-800/90 rounded-md"
    ></div>
    <div
      class="absolute-b-left w-full py-2 px-1 md:px-2 rounded-inherit text-center flex flex-col gap-2"
    >
      <figcaption
          class="font-header text-lg md:text-xl leading-5 line-clamp-3"
        >
        {name}
        </figcaption></a
      >
      <div class="flex-center gap-1 md:gap-2">
        <!---->
        <div
          class="text-sm font-header h-8 bg-slate/25 backdrop-blur px-3 flex-center rounded-lg bg-slate-300"
        >
          4&nbsp;Capítulo
        </div>
        <div
          class="text-sm font-header h-8 bg-emerald/25 backdrop-blur flex-center px-3 rounded-lg capitalize"
        >
          Activo
        </div>
      </div>
    </div>
  </figure>
