---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="app bg-slate-900 flex flex-col h-screen w-screen max-w-full text-cyan-100 text-[1px]" 
  >
    <div class="nav grid fixed top-0 w-full h-full">
      <header class="header bg-slate-300 flex ">daaaaaa</header>

      <nav class="menu h-full max-w-[90%] bg-red-600  flex flex-col justify-evenly text-teal-400  text-sm text-center">
        <div class="">
          <div class="user-info">
            <img
              src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/37e5ccfa-f9ee-458b-afa2-dcd85b495e4e"
              alt="user"
              class=" rounded-full py-2"
            />
            <p>Jane Wilson</p>
          </div>
          <ul class="h-full flex flex-col justify-evenly  py-14 ">
            <li class="nav-item active">
              <a href="/#">
                <span class="i-bx-home"></span>
                Home
              </a>
            </li>

            <li class="nav-item">
              <a href="test">
                <span class="i-bx-trending-up"></span>
                Trending
              </a>
            </li>

            <li class="nav-item">
              <a href="../proyectos">
                <span class="i-heroicons-document-check-solid"></span>
                cleaner
              </a>
            </li>

            <li class="nav-item">
              <a href="#">
                <span class="i-heroicons-currency-rupee-16-solid"></span>
                traslation
              </a>
            </li>

            <li class="nav-item">
              <a href="#">
                <span class="i-heroicons-heart-solid"></span>
                Favorites
              </a>
            </li>
          </ul>
        </div>
      
        
        
        <ul class="py-14">
          <li class="nav-item">
            <a href="#">
              <span class="i-bx-bxs-user"></span>
              Account
            </a>
          </li>

          <li class="nav-item">
            <a href="#">
              <span class="i-heroicons-cog-6-tooth  hover:animate-spin transition duration-1000"></span>
              Settings
            </a>
           
          </li>

          <li class="nav-item">
            <a href="#">
              <i class="fa fa-right-from-bracket nav-icon"></i>
              Logout
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <main
      class=" w-full h-full flex flex-col justify-items-center items-center"
    >
    <div></div>
      
      <slot />
    </main>
  </body>
  <style is:global>
    .fondo{
      background-image: url(/src/images/image-w.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
}
    .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
    .font-header {
    font-family: Cabin,sans-serif;
}


    .absolute-b-left {
    bottom: 0;
    left: 0;
    position: absolute;
}
    html{
      font-size: 75%;
    }
    ul li a{
      color: transparent;
      font-size: 0.8em;

      &:hover{
        color: #1e2027;
      }

      & span{
        font-size:1.5rem;
        color: aqua;
      }
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }



    .nav {
      display: grid;
      grid-template-areas:
        "menu header"
        "menu . ";
      grid-template-columns: clamp(25px, 45px, 50%) auto;
      grid-template-rows: 40px auto;
    }
    .app {
      display: grid;
      grid-template-areas:
        ". ."
        ". main ";
      grid-template-columns: clamp(25px, 45px, 50%) auto;
      grid-template-rows: 40px auto;
    }
    .header {
      grid-area: header;
    }
    .menu {
      grid-area: menu;
    }
    main {
      grid-area: main;
    }

    .amain {
      position: relative;
      top: 0;
      background-color: #1e2027;
      background-size: cover;
      background-position: center;
      background-image: url(https://s1.gifyu.com/images/Zero-Two-10fps.gif);
    }
  </style>
</html>
